page-politics-results {
    
    .resultsPage{
        display: flex;
        flex-direction: column;
        // background: linear-gradient(to left, pink 10px, white 100%);
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    h1{
        margin: auto;
    }

    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin-top: 50px;

    }

    .marks{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        margin-top: 50px;
        margin-left: 10px;
    }

    

    .button{
        margin-top: 60px;
    }

    .btn{
        margin: 20px;
    }


}
